<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../includes/head") %>
  <title>Privacy Settings &mdash; SSL Manager</title>
  <link rel="stylesheet" href="/assets/css/global/errors.css">
  <link rel="stylesheet" href="/assets/css/global/footer.css">
</head>

<% if (locals.options && options.theme) { %> 
  <body data-theme="<%= options.theme %>">
<% } else { %> 
  <body data-theme="system">
<% } %> 
  <%- include("../includes/body") %>

  <div class="container">
    <div class="wrapper text-center bg-transparent">
      <i class="fa-solid fa-cookie-bite"></i>
      <h1 class="display-3">Cookies not enabled</h1>
      <p class="lead">Cookies must be enabled for this page to function correctly</p>
      <a class="btn btn-responsive" href="https://www.wikihow.com/Enable-Cookies-in-Your-Internet-Web-Browser" target="_blank">How to enable cookies</a>
      <a class="btn btn-responsive" onclick="window.location.reload()">Try Again</a>
    </div>
  </div>

  <%- include("../includes/footer.ejs", { static: true }) %>
</body>

</html>