<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../includes/head") %>
  <title>Timeout &mdash; SSL Manager</title>
  <link rel="stylesheet" href="/assets/css/global/errors.css">
  <link rel="stylesheet" href="/assets/css/global/footer.css">
</head>

<% if (locals.options && options.theme) { %> 
  <body data-theme="<%= options.theme %>">
<% } else { %> 
  <body data-theme="system">
<% } %> 

  <%- include("../includes/body") %>
    
  <div class="container">
    <div class="wrapper text-center bg-transparent">
      <h1 class="display-3">Timeout</h1>
      <p class="lead">It appears we hit an internal error, please try again</p>
      <a class="btn btn-responsive" onclick="window.location.reload()">Try Again</a>
      <a class="btn btn-responsive" href="/">Return Home</a>
    </div>
  </div>

  <%- include("../includes/footer.ejs", { static: true }) %>
</body>

</html>