:root {
  --dimmed-text-color: rgb(119, 119, 121);
  --dimmed-text-color-light: rgb(55, 55, 55);
}
body {
  background-color: rgb(54, 57, 63);
}
body[data-theme="light"] {
  background-color: rgb(213, 214, 215);
}

.small-text {
  margin-top: 1rem;
  margin-bottom: 0;
}
.small-text.error {
  color: rgb(255, 0, 0);
}
.small-text.success {
  color: rgb(0, 255, 106);
}
.small-text.hidden {
  display: none;
}

/* Main Error Container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: none;
  background-color: rgb(32, 34, 37);
  width: 80dvw;
  border-radius: .6rem;
  margin-top: 25dvh;
  min-height: 22rem;
  padding: .5rem;
}
body[data-theme="light"] .container {
  background-color: rgb(227, 229, 232);
}
.container > .wrapper > h1 {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.container > .wrapper > p {
  margin-bottom: 3rem;
}
.container > .wrapper > i {
  font-size: 8rem;
  margin-bottom: 1rem;
  color: rgb(213, 214, 215);
}
body[data-theme="light"] .container > .wrapper > i {
  color: rgb(58, 58, 58);
}

/* Text Styles */
h1, h2, h3, h4, h5, h6, p, ul > li, ol > li {
	transition: 300ms color ease;
	-webkit-transition: 300ms color ease;
  color: rgb(213, 214, 215);
}
body[data-theme="light"] h1,
body[data-theme="light"] h2,
body[data-theme="light"] h3,
body[data-theme="light"] h4,
body[data-theme="light"] h5,
body[data-theme="light"] h6,
body[data-theme="light"] p,
body[data-theme="light"] ul > li,
body[data-theme="light"] ol > li {
  color: rgb(54, 57, 63);
}

/* Button Styles */
.btn-responsive {
  --bs-btn-color: rgb(33, 37, 41);
  --bs-btn-active-color: rgb(16, 16, 16);
  --bs-btn-hover-color: rgb(16, 16, 16);
  --bs-btn-disabled-color: rgb(82, 82, 82);
  --bs-btn-bg: rgb(248, 249, 250);
  --bs-btn-border-color: rgb(222, 222, 222);
  --bs-btn-hover-bg: rgb(215, 215, 215);
  --bs-btn-hover-border-color: rgb(190, 190, 190);
  --bs-btn-active-bg: rgb(215, 215, 215);
  --bs-btn-active-border-color: rgb(190, 190, 190);
  --bs-btn-disabled-bg: rgb(158, 158, 158);
  --bs-btn-disabled-border-color: rgb(129, 129, 129);
}
body[data-theme="light"] .btn-responsive {
  --bs-btn-color: rgb(255, 255, 255);
  --bs-btn-active-color: rgb(230, 230, 230);
  --bs-btn-hover-color: rgb(230, 230, 230);
  --bs-btn-disabled-color: rgb(255, 255, 255);
  --bs-btn-bg: rgb(35, 39, 43);
  --bs-btn-border-color: rgb(29, 33, 36);
  --bs-btn-hover-bg: rgb(70, 70, 70);
  --bs-btn-hover-border-color: rgb(29, 33, 36);
  --bs-btn-active-bg: rgb(70, 70, 70);
  --bs-btn-active-border-color: rgb(29, 33, 36);
  --bs-btn-disabled-bg: rgb(29, 33, 36);
  --bs-btn-disabled-border-color: rgb(13, 13, 14);
}
.btn-primary-blue {
  --bs-btn-color: rgb(255, 255, 255);
  --bs-btn-active-color: rgb(255, 255, 255);
  --bs-btn-hover-color: rgb(255, 255, 255);
  --bs-btn-disabled-color: rgb(255, 255, 255);
  --bs-btn-bg: var(--themed-text-color-dark);
  --bs-btn-border-color: rgb(29, 159, 255);
  --bs-btn-hover-bg: rgb(29, 159, 255);
  --bs-btn-hover-border-color: rgb(0, 128, 222);
  --bs-btn-active-bg: rgb(29, 159, 255);
  --bs-btn-active-border-color: rgb(0, 128, 222);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-bg: rgb(0, 128, 222);
  --bs-btn-disabled-border-color: rgb(29, 159, 255);
}
body[data-theme="light"] .btn-primary-blue {
  --bs-btn-bg: var(--themed-text-color-dark);
  --bs-btn-border-color: rgb(29, 159, 255);
  --bs-btn-hover-bg: rgb(29, 159, 255);
  --bs-btn-hover-border-color: rgb(0, 128, 222);
  --bs-btn-active-bg: rgb(29, 159, 255);
  --bs-btn-active-border-color: rgb(0, 128, 222);
  --bs-btn-disabled-bg: rgb(0, 128, 222);
  --bs-btn-disabled-border-color: rgb(29, 159, 255);
}
.btn-primary-blue:focus {
  --bs-btn-border-width: 2px;
  border-color: rgb(205, 205, 205);
}
body[data-theme="light"] .btn-primary-blue:focus {
  border-color: rgb(60, 60, 60);
}

/* Loading Button */
button.btn-loading {
  cursor: not-allowed;
	max-height: 2.45rem;
	min-width: 5rem;
}
button.btn-loading > span:not(.dots) {
  display: none;
}
.btn-loading > .dots {
	-webkit-animation: btnLoading 1s infinite linear alternate;
	animation: btnLoading 1s infinite linear alternate;
	position: relative;
  display: block;
	background-color: rgb(152, 128, 255);
  color: rgb(152, 128, 255);
  margin-left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}
.btn-loading > .dots::before,
.btn-loading > .dots::after {
	content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}
.btn-loading > .dots::before {
	-webkit-animation: btnLoading 1s infinite alternate;
	animation: btnLoading 1s infinite alternate;
	background-color: rgb(152, 128, 255);
  color: rgb(152, 128, 255);
	left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.btn-loading > .dots::after {
	-webkit-animation: btnLoading 1s infinite alternate;
	animation: btnLoading 1s infinite alternate;
	background-color: rgb(152, 128, 255);
  color: rgb(152, 128, 255);
	left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

@keyframes btnLoading {
  0% {
    background-color: rgb(152, 128, 255);
  }
  50%,
  100% {
    background-color: rgb(235, 230, 255);
  }
}
@-webkit-keyframes btnLoading {
  0% {
    background-color: rgb(152, 128, 255);
  }
  50%,
  100% {
    background-color: rgb(235, 230, 255);
  }
}

@media (prefers-contrast: more) {
  .btn-responsive:not([disabled]):not(.btn-not-accessible),
  .btn-accessible:not([disabled]) {
    --bs-btn-border-color: var(--primary-contrast-color);
    --bs-btn-hover-border-color: var(--primary-contrast-color);
    --bs-btn-active-border-color: var(--primary-contrast-color);
    --bs-btn-border-width: 2px;
  }
  body[data-theme="light"] .btn-responsive:not([disabled]):not(.btn-not-accessible),
  body[data-theme="light"] .btn-accessible:not([disabled]) {
    --bs-btn-border-color: var(--primary-contrast-color);
    --bs-btn-hover-border-color: var(--primary-contrast-color);
    --bs-btn-active-border-color: var(--primary-contrast-color);
  }
}

@media (prefers-color-scheme: light) {
  body[data-theme="system"] {
    background-color: rgb(213, 214, 215);
  }
  body[data-theme="system"] .container {
    background-color: rgb(227, 229, 232);
  }
  body[data-theme="system"] .container > .wrapper > i {
    color: rgb(58, 58, 58);
  }
  body[data-theme="system"] h1,
  body[data-theme="system"] h2,
  body[data-theme="system"] h3,
  body[data-theme="system"] h4,
  body[data-theme="system"] h5,
  body[data-theme="system"] h6,
	body[data-theme="system"] p,
	body[data-theme="system"] ul > li,
	body[data-theme="system"] ol > li {
    color: rgb(54, 57, 63);
  }

  /* Button colors */
  body[data-theme="system"] .btn-responsive {
		--bs-btn-color: rgb(255, 255, 255);
    --bs-btn-active-color: rgb(230, 230, 230);
    --bs-btn-hover-color: rgb(230, 230, 230);
    --bs-btn-disabled-color: rgb(255, 255, 255);
    --bs-btn-bg: rgb(35, 39, 43);
    --bs-btn-border-color: rgb(29, 33, 36);
    --bs-btn-hover-bg: rgb(70, 70, 70);
    --bs-btn-hover-border-color: rgb(29, 33, 36);
    --bs-btn-active-bg: rgb(70, 70, 70);
    --bs-btn-active-border-color: rgb(29, 33, 36);
    --bs-btn-disabled-bg: rgb(29, 33, 36);
    --bs-btn-disabled-border-color: rgb(13, 13, 14);
	}
  body[data-theme="system"] .btn-primary-blue {
    --bs-btn-bg: var(--themed-text-color-dark);
    --bs-btn-border-color: rgb(29, 159, 255);
    --bs-btn-hover-bg: rgb(29, 159, 255);
    --bs-btn-hover-border-color: rgb(0, 128, 222);
    --bs-btn-active-bg: rgb(29, 159, 255);
    --bs-btn-active-border-color: rgb(0, 128, 222);
    --bs-btn-disabled-bg: rgb(0, 128, 222);
    --bs-btn-disabled-border-color: rgb(29, 159, 255);
  }
  body[data-theme="system"] .btn-primary-blue:focus {
    border-color: rgb(60, 60, 60);
  }

  @media (prefers-contrast: more) {
    body[data-theme="system"] .btn-responsive:not([disabled]):not(.btn-not-accessible),
    body[data-theme="system"] .btn-accessible:not([disabled]) {
      --bs-btn-border-color: var(--primary-contrast-color);
      --bs-btn-hover-border-color: var(--primary-contrast-color);
      --bs-btn-active-border-color: var(--primary-contrast-color);
    }
  }
}